.workshops {
  padding: 0 70px;
  display: flex;
  justify-content: center;
  .contents {
    width: 100%;
    h2 {
      margin-top: 16px;
      font-family: "Noto Sans";
      font-weight: 700;
      font-size: 36px;
      line-height: 144.4%;
    }
    .workshop-images {
      margin-top: 40px;
      .main-images {
        .main-image {
          width: 627px;
          height: 437px;
          border-radius: 4px;
          border: solid 1px #ddd;
        }
      }
      .sub-images {
        margin-top: 28px;
        .sub-image {
          width: 92px;
          height: 64px;
          margin-right: 16px;
        }
      }
    }
    .main {
      width: 600px;
      padding: 16px;
      margin-top: 12px;
      .workshop-discription {
        h3 {
          margin-top: 16px;
          border-left: solid 6px #ffa800;
          padding-left: 8px;
          font-family: "Noto Sans";
          font-weight: 700;
          font-size: 24px;
          line-height: 33px;
          color: #413e3e;
        }
        .workshop-discription-text {
          margin-top: 16px;
          height: 270px;
          font-family: "Noto Sans";
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #413e3e;
        }
      }
      .workshop-record {
        margin-top: 27px;
        h3 {
          border-left: solid 6px #ffa800;
          padding-left: 8px;
          font-family: "Noto Sans";
          font-weight: 700;
          font-size: 24px;
          line-height: 33px;
          color: #413e3e;
        }
        .furniture-boxs {
          margin-top: 19px;
          display: flex;
          flex-wrap: wrap;
          .furniture-box {
            margin: 16px 16px 8px 0;
            .furniture-title {
              margin: 16px 0 0 0;
              font-family: "Noto Sans JP";
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              color: #413e3e;
            }
            .furniture-text {
              margin: 8px 0 0 0;
              font-family: "Noto Sans JP";
              font-size: 14px;
              line-height: 20px;
              color: #413e3e;
            }
          }
        }
      }
      .related-workshops {
        margin-top: 40px;
        width: 627px;
        h3 {
          border-left: solid 6px #ffa800;
          padding-left: 8px;
          font-family: "Noto Sans";
          font-weight: 700;
          font-size: 24px;
          line-height: 33px;
          color: #413e3e;
        }
        .workshop-boxs {
          margin-top: 29px;
          display: flex;
          flex-wrap: wrap;
          .workshop-box {
            margin: 16px 16px 8px 0;
            .workshop-title {
              margin: 16px 0 0 0;
              font-family: "Noto Sans JP";
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              color: #413e3e;
            }
            .workshop-text {
              margin: 8px 0 0 0;
              font-family: "Noto Sans JP";
              font-size: 14px;
              line-height: 20px;
              color: #413e3e;
            }
          }
        }
      }
    }
  }
}
