<div id='home'>
    <%= render 'home/header' %>
    <div class="home-eyecatch">

    </div>
    <div class='home-description'>
        <div class='home-description-title'>オーダー家具で、<br> 自分らしい暮らしをしよう</div>
        <div class='home-description-contents'>Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。Kaguzではオーダー家具の発注をかんたんにできます。</div>
        <%= link_to 'Kaguzについてもっと知る', '#' %>
    </div>
</div>