.furnitures {
  padding: 0 70px;
  .title {
    margin-top: 16px;
    h1 {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 700;
      line-height: 41px;
    }
  }
  .main {
    margin-top: 40px;
    display: flex;
    .contents {
      margin-left: 40px;
      width: 800px;
    }
  }
  .furnitures-sidebar {
    width: 300px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 0px 0px;
    .search-box {
      margin-bottom: 32px;
      .head {
        padding-left: 16px;
        display: flex;
        align-items: center;
        height: 52px;
        background: #fffcf4;
        font-family: Noto Sans;
        font-size: 14px;
        border-bottom: solid 1px #cecccc;
        p {
          margin: 0;
          .bold {
            font-size: 18px;
            font-weight: 700;
            margin-right: 5px;
          }
        }
      }
    }
    .category-search {
      .body {
        padding: 16px;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            a {
              color: black;
            }
            padding-bottom: 16px;
          }
          li:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
    .detailed-search {
      .body {
        .search-form {
          .detailed-search-head {
            width: 100%;
            padding-left: 16px;
            display: flex;
            align-items: center;
            height: 52px;
            background: #fffcf4;
            font-family: Noto Sans;
            font-size: 16px;
            font-weight: 700;
          }
          .detailed-search-body {
            width: 100%;
            padding: 10px 19px 25px;
            border-bottom: solid 1px #cecccc;
            display: flex;
            flex-wrap: wrap;
            .material-item {
              display: flex;
              align-items: center;
              height: 20px;
              margin-top: 10px;
              margin-bottom: 10px;
              min-width: 50%;
              label {
                margin: 0 0 0 10px;
              }
            }
            .color-item {
              display: flex;
              align-items: center;
              height: 20px;
              margin-top: 10px;
              margin-bottom: 10px;
              min-width: 50%;
              p {
                margin: 0 0 0 10px;
              }
            }
          }
        }
        .search-btn {
          width: 100%;
          height: 63px;
          background: #ffa800;
          border-radius: 4px;
          font-family: Roboto;
          border: none;
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          color: #ffffff;
        }
        div > .form-head {
          width: 100%;
          margin-bottom: 16px;
        }
        div > .form-body {
          margin-bottom: 16px;
          display: flex;
          align-items: center;
          .form-item {
            width: 80px;
            height: 48px;
            margin-right: 16px;
            border: 1px solid #79747e;
            border-radius: 4px;
            padding-left: 10px;
          }
          span {
            margin-right: 16px;
          }
        }
      }
    }
  }
  .keyword-search {
    height: 48px;
    display: flex;
    align-items: center;
    border: 0.5px solid #cecccc;
    border-radius: 4px;
    margin: 0px 0px 8px;
    padding: 2px;
    .search-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      input[type="text"]:focus {
        outline: 0;
      }
      .input-box {
        margin-left: 14px;
        width: 736px;
        border: none;
      }
      .search-button {
        width: 45px;
        height: 45px;
        display: flex;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        background-color: #ffa800;
        border-radius: 0px 4px 4px 0px;
      }
    }
  }
  .contents-head {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    .item-counts {
      font-family: Noto Sans;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #717171;
    }
    .item-sort {
      margin-left: auto;
      display: flex;
      align-items: flex-end;
      div {
        margin-left: 24px;
        color: #717171;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
      }
      .current-sort {
        color: #ffa800;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
      }
      .item-sort-recomend {
      }
      .item-sort-new {
      }
      .item-sort-popularity {
      }
    }
  }
  .contents-body {
    .item-boxs {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      .item-box {
        width: 250px;
        font-family: Roboto;
        font-size: 15px;
        line-height: 22px;
        margin-right: 24px;
        margin-bottom: 24px;
        color: #000;
        text-decoration: none;
        .item-image {
          border-radius: 4px;
          height: 170px;
          object-fit: cover;
        }
        .item-title {
          font-weight: 700;
          margin: 6px 0 0 0;
        }
        .item-text {
          font-weight: 500;
          margin: 6px 0 0 0;
        }
      }
      .last-child {
        margin-right: 0;
      }
    }
  }
}

/* 固有スタイル */
.breadcrumbs {
  font-family: "Noto Sans";
  color: #413e3e;
  margin-top: 24px;
  a {
    color: #413e3e;
  }
  .current {
    font-weight: 700;
  }
}
.color-item {
  display: flex;
  label {
    margin: 0 0 0 8px;
  }
  .sidebar-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 10px;
  }
  .sidebar-color_red {
    background-color: red;
  }
  .sidebar-color_orange {
    background-color: orange;
  }
  .sidebar-color_yellow {
    background-color: yellow;
  }
  .sidebar-color_green {
    background-color: green;
  }
  .sidebar-color_blue {
    background-color: blue;
  }
  .sidebar-color_purple {
    background-color: purple;
  }
  .sidebar-color_pink {
    background-color: pink;
  }
  .sidebar-color_brown {
    background-color: brown;
  }
  .sidebar-color_brown {
    background-color: brown;
  }
  .sidebar-color_beige {
    background-color: beige;
  }
  .sidebar-color_white {
    background-color: white;
  }
  .sidebar-color_grey {
    background-color: grey;
  }
  .sidebar-color_black {
    background-color: black;
  }
  .sidebar-color_gold {
    background-color: gold;
  }
  .sidebar-color_clear {
    background: linear-gradient(
      180deg,
      rgba(0, 224, 255, 0.46) 0%,
      rgba(0, 224, 255, 0) 100%
    );
  }
  .sidebar-color_multi {
    background: linear-gradient(
      180deg,
      rgba(5, 0, 255, 0.56) 0%,
      rgba(5, 0, 255, 0) 100%
    );
  }
}
