.furnitures {
  .title {
    padding: 100px 27px;
    h1 {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 700;
    }
  }
  .search-boxs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .search-box {
      height: 38px;
      border: 1px solid #b3abbc;
      box-sizing: border-box;
      border-radius: 24px;
      display: flex;
      align-items: center;
      margin: 8px;
    }
    .search {
      .search-form {
        width: 495px;
        display: flex;
        align-items: center;
        input[type="text"]:focus {
          outline: 0;
        }
        .input-box {
          margin-left: 16px;
          width: 90%;
          border: none;
        }
        .search-button {
          display: flex;
          align-items: center;
        }
      }
    }
    .filter {
      width: 288px;
      select {
        color: grey;
        margin: 0 16px;
        width: 100%;
        border: none;
        appearance: none;
        background-image: image-url("icon/furnitures/up-down.png");
        background-position: right center;
        background-repeat: no-repeat;
      }
    }
  }
}
