// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_sidebar {
  padding-left: 10px;
  height: 1000px;
}
.sidebar_fixed {
  position: sticky;
  top: 60px;
}
.sidebar_content {
  margin-bottom: 100px;
}
