<div class="furnitures furnitures_show">
    <% breadcrumb :furnitures_show %>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <div class="main-contents">
        <div class="main-content">
            <% if @furniture.image.present? %>
            <%= image_tag @furniture.image_url, class: "main-image" %>
            <% else %>
            <%= image_tag "https://placehold.jp/627x437.png", class: "main-image" %>
            <% end %>
            <div class="sub-images">
                <% for i in 1..4 do %>
                <img src="https://placehold.jp/92x64.png" class="sub-image">                    
                <% end %>
            </div>
        </div>

    </div>
    </div>

</div>